{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/login.css' %}">
<!-- Page Header-->
        <header class="masthead" style="background-image: url('https://www.popco.net/zboard/data/dica_forum_samsung/2015/07/27/147743295955b5c369685cd.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <span class="subheading">TODAY TOUR</span>
                            <h2 id="jeju"> 떠나요 제주도 >_< </h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

<div class="container my-3">
    <form method="post" action="{% url 'accounts:login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">  <!-- 로그인 성공후 이동되는 URL -->
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="username">사용자ID</label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password"
                   value="{{ form.password.value|default_if_none:'' }}">
        </div>
        <div id="Btn">
            <button type="submit" class="btn btn-primary">로그인</button>
            <button class="btn btn-primary"><a href="{% url 'accounts:signup'%}">회원가입</a></button>
        </div>
    </form>
</div>
{% endblock %}